body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #48CAE4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #48CAE4;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-text h1 {
    margin: 0;
    font-size: 2em;
}

.hero-text p {
    margin: 10px 0;
}

.hero-text button {
    background-color: #48CAE4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.portfolio {
    text-align: center;
    padding: 50px 20px;
}

.portfolio h2 {
    margin: 0;
    font-size: 2em;
}

.categories {
    margin: 20px 0;
}

.categories button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icons img {
    width: 100px;
    height: 100px;
}

.h1x2 {
    font-size: 2.5em;
    display: flex;
    flex-direction: column; /* Сделаем их вертикально располагаемыми */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */

}


header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    place-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
   
}

.column img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px;
   
}

.column h2 {
    margin-top: 0;
}

.column p {
    margin-top: 10px;
}

.catIMG{
    height: 600px;
    width: 600px;
    
}